body {
  margin: 0;
  font-family: lato-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: lato-regular;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'lato-regular';
  src: local('lato-regular'), url('./assets/fonts/Lato-Regular.ttf') format('truetype');
}